/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 30px;
}
.page-header{
  text-align: center;
  border: none;
  margin-bottom: 0px;
}
.page-body{
  text-align: center;
}
.video-container{
  margin: 0 auto 20px auto;
  width: 1000px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}
a{
    color: #0AA48C;
    text-decoration: none;
}
a:hover{
    color: #0AA48C;
    text-decoration: underline;
}
h1{
  color: #0AA48C;
  font-weight: 700;
  font-size: 4.5em;
}
.btn-download{
  background: transparent;
  border-color: #0AA48C;
  color: #0AA48C;
  margin: 10px 0;
  font-size: 1.5em;
}
.btn-download:hover{
  background-color: #0AA48C;
  border-color: #0AA48C;
  color: white;
}